{% block header %}
<!-- Navigation -->
<div class="brand" >El Mesias United Methodist Church</div>
    <!--<div class="address-bar">983 2nd Street | Floresville, TX 78114 | 830.393.4509</div>-->
    <div class="address-bar">Open <strong>Hearts.</strong> Open <strong>Minds.</strong> Open <strong>Doors.</strong></div>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="index.html">El Mesias</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Us<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <!-- <li><a href="{% url 'about:about' %}">About Us</a></li>
                            <li><a href="#">Our Services</a></li>
                            <li><a href="#">Vision and Mission</a></li>
                            <li role="separator" class="divider"></li> -->
                            <li><a href="{% url 'contact:contact' %}">Contact Us</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="{% url 'prayer_request:prayer_request' %}">Prayer Request</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

{% endblock %}